# ── Clerk Auth ──────────────────────────────────────────────
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YOUR_KEY_HERE
CLERK_SECRET_KEY=sk_test_YOUR_KEY_HERE
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# ── Google Gemini AI ─────────────────────────────────────────
GEMINI_API_KEY=AIzaSyBBtte8bnRfgVw5nKgGG_BqwXpWGsGIKro

# ── Supabase ─────────────────────────────────────────────────
NEXT_PUBLIC_SUPABASE_URL=https://xsrdjwockxchlcqgyikx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzcmRqd29ja3hjaGxjcWd5aWt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4OTMzNTUsImV4cCI6MjA4OTQ2OTM1NX0.3ry0Pvo12uEEbfQxOoCNRRiY973ZXxv46gwkLRtCPjM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzcmRqd29ja3hjaGxjcWd5aWt4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg5MzM1NSwiZXhwIjoyMDg5NDY5MzU1fQ.EZHJ9vk0HXCjSCGcAUZ2Xtb1Zxlgr2L7XGT4c807EK4




NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWFnaWNhbC1iaXNvbi04NS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_S4dguCkbldFmTzEzFRBjf1Cr6os1gXTYxGZvZ4VZIl 

